body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    max-width: 1200px;
    margin: auto;
    background-image: url(./images/whitebg.jpg);

}

h1 {
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.3em;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1em;
    padding-bottom: 0.5em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 3em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}